/*------------------------------------------*/
/* V A R I A B L E */
/*------------------------------------------*/
:root {
    --ff-heading: "Irish Grover", system-ui;
    --ff-body: "Istok Web", sans-serif;
    --color-first: #5BBCFF;
    --color-second: #FFFAB7;
    --color-third: #FFD1E3;
    --color-fourth: #7EA1FF;
}

/*  */
/*------------------------------------------*/
/* G E N E R A L */
/*------------------------------------------*/


/*background-color: var(--color-first);*/
body {
    background-color: var(--color-first);
    font-family: var(-ff-body);
    font-weight: 100;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    main {
        background: url(../images/bg-main.png) no-repeat;
        height: 800px;
        overflow: hidden;
        width: 400px;
    }
}

main.welcome {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 2rem;
    }

    section.slider {
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    a:is(:link, :visited) {
        background: url(../images/bnt.png) no-repeat center;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7rem;
        transition: all 0, 4s ease-in;
        width: 300px;
    }

    a:is(:hover) {
        background: url(../images/bnt-hover.png) no-repeat center;
        transform: scale(1, 02) translate(-5px);
    }

    a:is(:active) {
        background: url(../images/bnt-active.png) no-repeat center;
    }
}

/* 01 - Welcome */